.hljs-deletion{color:#75715e;}
.hljs-comment{color:#75715e;}
.hljs-selector-pseudo{color:#e6db74;}
.hljs-meta{color:#75715e;}
.hljs-selector-id{color:#e6db74;}
.hljs-regexp{color:#ae81ff;}
.hljs-title{color:#a6e22e;}
.hljs-name{color:#f92672;}
.hljs-code{color:#a6e22e;}
.hljs{padding:0.5em;overflow-x:auto;color:#f8f8f2;display:block;}
.hljs-selector-class{color:#a6e22e;}
.hljs-params{color:#F49C24;}
.hljs-link{color:#ae81ff;}
.hljs-keyword{color:#f92672;}
.hljs-attr{color:#f92672;}
.hljs-template-variable{color:#e6db74;}
.hljs-addition{color:#e6db74;}
.hljs-bullet{color:#ae81ff;}
.hljs-symbol{color:#66d9ef;}
.hljs-attribute{color:#66d9ef;}
.hljs-built_in{color:#e6db74;}
.hljs-type{color:#e6db74;}
.hljs-selector-tag{color:#f92672;}
.hljs-section{color:#a6e22e;}
.hljs-string{color:#e6db74;}
.hljs-builtin-name{color:#e6db74;}
.hljs-subst{color:#f8f8f2;}
.hljs-literal{color:#ae81ff;}
.hljs-strong{font-weight:bold;color:#a8a8a2;}
.hljs-quote{color:#ae81ff;}
.hljs-variable{color:#e6db74;}
.hljs-emphasis{color:#a8a8a2;font-style:italic;}
.hljs-selector-attr{color:#e6db74;}
.hljs-class{color:#AFE632;}
.hljs-number{color:#ae81ff;}
.hljs-tag{color:#f8f8f2;}
